@model IServices.Models.ModelCarts
@{
    ViewBag.Title = "Корзина";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Главная</a></li>
                <li class="active">Корзина</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Продукт</td>
                        <td class="description"></td>
                        <td class="price">Цена</td>
                        <td class="quantity">Количество</td>
                        <td class="total">Общая цена</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.GetCart())
                    {

                        <tr>
                            <td class="cart_product">
                                <a href="@Url.Action("Details","Home",new { id = item.Product.Id })"><img src="~/Content/Images/home/@item.Product.FileName" alt="" width="110" height="110"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="@Url.Action("Details","Home",new { id = item.Product.Id })">@item.Product.Name</a></h4>
                                <p>Product ID: @item.Product.Id</p>
                            </td>
                            <td class="cart_price">
                                <p>@item.Product.Price р.</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href=""> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href=""> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@((item.Quantity * item.Product.Price).ToString("# р.") )</p>
                            </td>
                            <td class="cart_delete">
                                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                {
                                <input id="@item.Product.Id" name="productId" type="hidden" value="@item.Product.Id" />
                                <button class="cart_quantity_delete btn btn-link" type="submit">
                                    <i class="fa fa-times"></i>
                                </button>
                                }
                                @*<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>*@
                            </td>

                        </tr>

                    }
                </tbody>

                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right">
                                <h4>Итого к оплате:</h4>
                            </td>
                            <td class="text-right">
                                <h4>@Model.ComputeTotalValue().ToString("# руб")</h4>
                            </td>
                        </tr>
                    </tfoot>
            </table>
        </div>
    </div>
</section>
<!--/#cart_items-->


<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Что дальше?</h3>
            <p>Укажите имеется ли у вас купон на скидку или баллы, чтобы оценить стоимость доставки.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Использовать купон</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Использовать подарочный сертификат</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Ускоренная доставка</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Страна:</label>
                            <select>
                                <option>United States</option>
                                <option>India</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Регион / Область:</label>
                            <select>
                                <option>Select</option>
                                <option>London</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Почтовый индекс:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Проверить</a>
                    <a class="btn btn-default check_out" href="">Продолжить</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Общая стоимость <span>$59</span></li>
                        <li>Налог <span>$2</span></li>
                        <li>Стоимость доставки <span>Бесплатно</span></li>
                        <li>Итого к оплате<span>$61</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Обновить</a>
                    <a class="btn btn-default check_out" href="">Перейти к оплате</a>
                </div>
            </div>
        </div>
    </div>
</section>

