@model IEnumerable<IServices.Models.ModelProduct>
@{
    Layout = null;
}

<div class="col-md-6 col-sm-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>Table
            </div>
            <div class="actions">

            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover" id="sample_2">
                <thead>
                    <tr>
                        <th class="table-checkbox">
                            <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" />
                        </th>
                        <th>
                            Наименование
                        </th>
                        <th>
                            Цена
                        </th>
                        <th>
                            Производитель
                        </th>
                        <th>
                            Категория
                        </th>
                        <th>
                            Дата добавления
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="@product.Id" />
                            </td>
                            <td>
                                @product.Name
                            </td>
                            <td>
                                @product.Price
                            </td>
                            <td>
                                @product.ManufacturerId
                            </td>
                            <td>
                                @product.Category
                            </td>
                            <td>
                                @product.DateAdd
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<div class="col-md-6 col-sm-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box purple">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Table
            </div>
            <div class="actions">

            </div>
        </div>
        <div class="portlet-body">
            <div class="form-group form-md-line-input">
                <h4><label class="col-md-3 control-label" for="ProductName">Название товара</label></h4>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="ProductName" placeholder="Enter your name">
                    <div class="form-control-focus">
                    </div>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <h4><label class="col-md-3 control-label" for="MainCategory">Категория</label></h4>
                <div class="col-md-9">
                    <select class="form-control" id="MainCategory">
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                        <option value="">Option 3</option>
                        <option value="">Option 4</option>
                    </select>
                    <div class="form-control-focus">
                    </div>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <h4><label class="col-md-3 control-label" for="ChildCategory">Подкатегория</label></h4>
                <div class="col-md-9">
                    <select class="form-control" id="ChildCategory">
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                        <option value="">Option 3</option>
                        <option value="">Option 4</option>
                    </select>
                    <div class="form-control-focus">
                    </div>
                </div>
            </div>
            <div class="form-group form-md-line-input">
                <h4><label class="col-md-3 control-label" for="ProductManuf">Производитель</label></h4>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="ProductManuf" placeholder="Enter your name">
                    <div class="form-control-focus">
                    </div>
                </div>
                <h4><label class="col-md-2 control-label" for="ProductPrice">Цена</label></h4>
                <div class="col-md-4">
                    <input type="number" class="form-control" id="ProductPrice" placeholder="Enter your name">
                    <div class="form-control-focus">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Inline</label>
                <div class="col-md-4">
                    <div class="form_datetime" data-date="2012-12-21T15:25:00Z">
                        <div class="datetimepicker datetimepicker-inline"><div class="datetimepicker-minutes" style="display: none;"><table class=" table-condensed"><thead><tr><th class="prev" style="visibility: visible;"><i class="fa fa-angle-left"></i></th><th colspan="5" class="switch">26 December 1988</th><th class="next" style="visibility: visible;"><i class="fa fa-angle-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="minute">4:00</span><span class="minute">4:05</span><span class="minute">4:10</span><span class="minute">4:15</span><span class="minute active">4:20</span><span class="minute">4:25</span><span class="minute">4:30</span><span class="minute">4:35</span><span class="minute">4:40</span><span class="minute">4:45</span><span class="minute">4:50</span><span class="minute">4:55</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr></tfoot></table></div><div class="datetimepicker-hours" style="display: none;"><table class=" table-condensed"><thead><tr><th class="prev" style="visibility: visible;"><i class="fa fa-angle-left"></i></th><th colspan="5" class="switch">26 December 1988</th><th class="next" style="visibility: visible;"><i class="fa fa-angle-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="hour">0:00</span><span class="hour">1:00</span><span class="hour">2:00</span><span class="hour">3:00</span><span class="hour active">4:00</span><span class="hour">5:00</span><span class="hour">6:00</span><span class="hour">7:00</span><span class="hour">8:00</span><span class="hour">9:00</span><span class="hour">10:00</span><span class="hour">11:00</span><span class="hour">12:00</span><span class="hour">13:00</span><span class="hour">14:00</span><span class="hour">15:00</span><span class="hour">16:00</span><span class="hour">17:00</span><span class="hour">18:00</span><span class="hour">19:00</span><span class="hour">20:00</span><span class="hour">21:00</span><span class="hour">22:00</span><span class="hour">23:00</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr></tfoot></table></div><div class="datetimepicker-days" style="display: none;"><table class=" table-condensed"><thead><tr><th class="prev" style="visibility: visible;"><i class="fa fa-angle-left"></i></th><th colspan="5" class="switch">December 1988</th><th class="next" style="visibility: visible;"><i class="fa fa-angle-right"></i></th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td class="day old">27</td><td class="day old">28</td><td class="day old">29</td><td class="day old">30</td><td class="day">1</td><td class="day">2</td><td class="day">3</td></tr><tr><td class="day">4</td><td class="day">5</td><td class="day">6</td><td class="day">7</td><td class="day">8</td><td class="day">9</td><td class="day">10</td></tr><tr><td class="day">11</td><td class="day">12</td><td class="day">13</td><td class="day">14</td><td class="day">15</td><td class="day">16</td><td class="day">17</td></tr><tr><td class="day">18</td><td class="day">19</td><td class="day">20</td><td class="day">21</td><td class="day">22</td><td class="day">23</td><td class="day">24</td></tr><tr><td class="day">25</td><td class="day active">26</td><td class="day">27</td><td class="day">28</td><td class="day">29</td><td class="day">30</td><td class="day">31</td></tr><tr><td class="day new">1</td><td class="day new">2</td><td class="day new">3</td><td class="day new">4</td><td class="day new">5</td><td class="day new">6</td><td class="day new">7</td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr></tfoot></table></div><div class="datetimepicker-months" style="display: block;"><table class="table-condensed"><thead><tr><th class="prev" style="visibility: visible;"><i class="fa fa-angle-left"></i></th><th colspan="5" class="switch">1988</th><th class="next" style="visibility: visible;"><i class="fa fa-angle-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month active">Dec</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr></tfoot></table></div><div class="datetimepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th class="prev" style="visibility: visible;"><i class="fa fa-angle-left"></i></th><th colspan="5" class="switch">1980-1989</th><th class="next" style="visibility: visible;"><i class="fa fa-angle-right"></i></th></tr></thead><tbody><tr><td colspan="7"><span class="year old">1979</span><span class="year">1980</span><span class="year">1981</span><span class="year">1982</span><span class="year">1983</span><span class="year">1984</span><span class="year">1985</span><span class="year">1986</span><span class="year">1987</span><span class="year active">1988</span><span class="year">1989</span><span class="year old">1990</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr></tfoot></table></div></div>
                    </div>
                    <!-- /input-group -->
                </div>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>