@model IEnumerable<IServices.Models.ModelProduct>
@{
    Layout = null;
}
<!--Таблица со списком товаров-->
<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users">&nbsp;</i>Управление товарами
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="javascript:;" id="reloadUsers" class="reload" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="dataTables_wrapper no-footer">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="dataTables_length" id="sample_1_length">
                            <label>
                                Показать
                                <select name="sample_1_length" aria-controls="sample_1" class="form-control input-xsmall input-inline">
                                    <option value="5">5</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="-1">Все</option>
                                </select> 
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div id="sample_1_filter" class="dataTables_filter">
                            <label>
                                Поиск:
                                <input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="sample_1">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover" id="ProductList">
                        <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" />
                                </th>
                                <th>
                                    Наименование
                                </th>
                                <th>
                                    Цена
                                </th>
                                <th>
                                    Производитель
                                </th>
                                <th>
                                    Категория
                                </th>
                                <th>
                                    Дата добавления
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        <input type="checkbox" value="@product.Id" name="list"/>
                                        
                                    </td>
                                    <td>
                                        <button class="btn btn-link glyphicon glyphicon-edit EditProductId" style="padding:0;" value="@product.Id"></button>
                                        @product.Name
                                    </td>
                                    <td>
                                        @product.Price
                                    </td>
                                    <td>
                                        @product.ManufacturerId
                                    </td>
                                    <td>
                                        @product.CategoryId
                                    </td>
                                    <td>
                                        @product.DateAdd
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <div class="col-md-10 col-sm-10">
                        <button id="deleteProducts" class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                            <ul class="pagination" style="visibility: visible;">
                                <li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li><li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                                <li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<!--Добавление товара-->
<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users">&nbsp;</i>Добавить товар
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="javascript:;" id="reloadUsers" class="reload" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="dataTables_wrapper no-footer">
                <div class="form-horizontal">
                    <!--Название товара-->
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductName">Название товара</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="ProductName" placeholder="HP Notebook 15...">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Категория товара-->
                    <div class="form-group form-md-line-input" id="CategoriesList">
                        <label class="col-md-2 control-label" for="ProductCategory">Категоря</label>
                        <div class="col-md-10">
                            <select class="form-control edited" id="ProductCategory">
                                @Html.Action("CategoriesList", "Admin")
                            </select>

                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Производитель товара-->
                    <div class="form-group form-md-line-input" id="ManufacturersList">
                        <label class="col-md-2 control-label" for="ProductManufacturer">Производитель</label>
                        <div class="col-md-10">
                            <select class="form-control edited" id="ProductManufacturer">
                                @Html.Action("ManufacturersList", "Admin")
                            </select>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Цена и зиображение товара-->
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductPrice">Цена</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="ProductPrice" placeholder="2500">
                            <div class="form-control-focus">
                            </div>
                        </div>
                        <label class="control-label col-md-2" for="ProductImage">Изображение</label>
                        <div class="col-md-3">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn green fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span>
                                    Выбрать файл..
                                </span>
                                <input type="file" name="ProductImage" id="ProductImage">
                            </span>
                        </div>
                    </div>
                    <!--Описание товара-->
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductDescription">Описание</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" placeholder="Enter more text" id="ProductDescription"></textarea>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Характеристики товара-->
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductCharacteristics">Характеристики</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" placeholder="Enter more text" id="ProductCharacteristics"></textarea>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductTags">Теги</label>
                        <div class="col-md-5">
                            <textarea class="form-control" rows="3" placeholder="Enter more text" id="ProductTags"></textarea>
                            <div class="form-control-focus">
                            </div>
                        </div>
                        <label class="control-label col-md-2" for="ProductDateAdd">Дата добавления</label>
                        <div class="col-md-3">
                            @*<div class="date-picker" data-date-format="mm/dd/yyyy">*@
                            <input type="date" name="ProductDateAdd" id="ProductDateAdd"/>
                            @*</div>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-5">
                            <button class="btn blue btn-block btn-lg m-icon-big" id="AddProduct">Добавить <i class="m-icon-big-swapright m-icon-white"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<!--Редактирование товара-->
<div class="col-md-12" id="EddProduct">
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users">&nbsp;</i>Редактировать товар
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="javascript:;" id="reloadUsers" class="reload" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <p class="lead">
                <i class="fa fa-edit">&nbsp;</i>Для редактирования товара кликните на соответствующую иконку в таблице.
            </p>
        </div>
    </div>      
</div>
<script>
    $(document).ready(function () {

        $('#AddProduct').click(function () {

            var files = document.getElementById('ProductImage').files;
            var formData = new FormData();
            formData.append("file", files[0]);
            formData.append("Name", $('#ProductName').val());
            formData.append("Price", $('#ProductPrice').val());
            formData.append("Description", $('#ProductDescription').val());
            formData.append("Characteristics", $('#ProductCharacteristics').val());
            formData.append("Tags", $('#ProductTags').val());
            formData.append("DateAdd", $('#ProductDateAdd').val());
            formData.append("CategoryId", $('#ProductCategory').val());
            formData.append("ManufacturerId", $('#ProductManufacturer').val());

            $.ajax({
                type: "POST",
                url: 'AddProduct',
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    console.log(result);
                    updateProducts();
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        });

        $('#deleteProducts').click(function () {
            var formaData = new FormData();

            values = $("input[name=list]").map(function () {
                if ($(this)[0].checked) {
                    return $(this).val();
                }

            }).get();
            formaData.append("list", values);

            $.ajax({
                url: 'DeleteProducts',
                type: 'post',
                contentType: false,
                processData: false,
                data: formaData,
                beforeSend: function () { console.log(values); },
                success: function (data) {
                    console.log(data);
                    updateProducts();
                }
            });

        });

        function updateProducts() {
            $('#Products').load("http://localhost:58081/Admin/Admin/upProducts");
        }
        var EddProductId;
        $('button.EditProductId').click(function () {
            EddProductId = $(this).val();

            $('#EddProduct').load("http://localhost:58081/Admin/Admin/EditProduct/" + EddProductId);
            $('body').animate({
                scrollTop: $('#EddProduct').offset().top
            }, 1400);
        });

        
    });
</script>
