@using Shop.Infrastructura.Constants
@model IEnumerable<IServices.Models.ModelProduct>
@{
    Layout = null;
}
<!--Таблица со списком товаров-->
<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-users">&nbsp;</i>Управление товарами
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="javascript:;" id="reloadProducts" class="reload" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="dataTables_wrapper no-footer">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="dataTables_length" id="sample_1_length">
                            <label>
                                Показать
                                <select name="sample_1_length" aria-controls="sample_1" class="form-control input-xsmall input-inline">
                                    <option value="5">5</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="-1">Все</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div id="sample_1_filter" class="dataTables_filter">
                            <label>
                                Поиск:
                                <input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="sample_1">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover" id="ProductList">
                        <thead>
                            <tr>
                                <th>
                                    №
                                </th>
                                <th>
                                    Наименование
                                </th>
                                <th>
                                    Цена
                                </th>
                                <th>
                                    Производитель
                                </th>
                                <th>
                                    Категория
                                </th>
                                <th>
                                    Дата добавления
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>
                                        @product.Id

                                    </td>
                                    <td>
                                        <button class="btn btn-link glyphicon glyphicon-trash DeleteProductId" data-toggle="confirmation" style="padding:0;" value="@product.Id"></button>
                                        <button class="btn btn-link glyphicon glyphicon-edit EditProductId" data-toggle="modal" href="#EditProductModal" style="padding:0;" value="@product.Id"></button>
                                        @product.Name
                                    </td>
                                    <td>
                                        @product.Price.ToString("# р.")
                                    </td>
                                    <td>
                                        @product.Manufacturer.Name
                                    </td>
                                    <td>
                                        @product.Category.Name
                                    </td>
                                    <td>
                                        @product.DateAdd
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
                <div class="row">
                        <div class="col-md-10 col-sm-10">
                            <button class="btn default" data-toggle="modal" href="#AddProductModal">Добавить товар</button>
                        </div>
                    </div>
                <br />
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                            <ul class="pagination" style="visibility: visible;">
                                @*@Html.PagingNav(MyConstats.PageNum, MyConstats.ItemsCount, MyConstats.PageSize, Request.QueryString["sort"])*@
                                <li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                                <li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
<!--Добавление товара-->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL SCRIPTS -->
<div class="modal fade bs-modal-lg" id="AddProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Добавить товар</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <!--Название товара-->
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductName">Название товара</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="ProductName" placeholder="HP Notebook 15...">
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Категория товара-->
                    <div class="form-group form-md-line-input" id="CategoriesList">
                        <label class="col-md-2 control-label" for="ProductCategory">Категоря</label>
                        <div class="col-md-10">
                            <select class="form-control edited" id="ProductCategory">
                                @Html.Action("CategoriesList", "Products", new { area = "Admin" })
                            </select>

                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Производитель товара-->
                    <div class="form-group form-md-line-input" id="ManufacturersList">
                        <label class="col-md-2 control-label" for="ProductManufacturer">Производитель</label>
                        <div class="col-md-10">
                            <select class="form-control edited" id="ProductManufacturer">
                                @Html.Action("ManufacturersList", "Products", new { area = "Admin" })
                            </select>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Цена и зиображение товара-->
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductPrice">Цена</label>
                        <div class="col-md-5">
                            <input type="number" class="form-control" id="ProductPrice" placeholder="2500">
                            <div class="form-control-focus">
                            </div>
                        </div>
                        <label class="control-label col-md-2" for="ProductImage">Изображение</label>
                        <div class="col-md-3">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn green fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span>
                                    Выбрать файл..
                                </span>
                                <input type="file" name="ProductImage" id="ProductImage">
                            </span>
                        </div>
                    </div>
                    <!--Описание товара-->
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductDescription">Описание</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" placeholder="Enter more text" id="ProductDescription"></textarea>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Характеристики товара-->
                    <div class="form-group form-md-line-input">
                        <label class="col-md-2 control-label" for="ProductCharacteristics">Характеристики</label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="3" placeholder="Enter more text" id="ProductCharacteristics"></textarea>
                            <div class="form-control-focus">
                            </div>
                        </div>
                    </div>
                    <!--Теги товара-->
                    <div class="form-group form-md-line-input">
                        <label class="control-label col-md-2" for="ProductTags">Теги</label>
                        <div class="col-md-5">
                            <input id="ProductTags" type="hidden" class="form-control select2_sample3" value="red, blue">
                        </div>
                        <label class="control-label col-md-2" for="ProductDateAdd">Дата добавления</label>
                        <div class="col-md-3">
                            <div id="datePicker"class="date-picker" data-date-format="mm/dd/yyyy">
                            </div>
                            @*<div class="date-picker" data-date-format="mm/dd/yyyy">*@
                            @*<input type="date" name="ProductDateAdd" id="ProductDateAdd" />*@
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn blue" id="AddProduct" data-dismiss="modal">Добавить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--Редактирование товара-->
<div class="modal fade bs-modal-lg" id="EditProductModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="EditModalContent">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>
    
    
</script>
