@model IServices.Models.ModelProduct
@{
    Layout = null;
}

    <!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Редактировать товар</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <!--Название товара-->
        <input hidden type="text" value="@Model.Id" id="ProductId" />
        <div class="form-group form-md-line-input">
            <label class="col-md-2 control-label" for="EdProductName">Название товара</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="EdProductName" placeholder="HP Notebook 15..." value="@Model.Name">
                <div class="form-control-focus">
                </div>
            </div>
        </div>
        <!--Категория товара-->
        <div class="form-group form-md-line-input" id="EdCategoriesList">
            <label class="col-md-2 control-label" for="EdProductCategory">Категоря</label>
            <div class="col-md-10">
                <select class="form-control edited" id="EdProductCategory">
                    @Html.Action("CategoriesList", "Products")
                </select>

                <div class="form-control-focus">
                </div>
            </div>

        </div>
        <!--Производитель товара-->
        <div class="form-group form-md-line-input" id="EdManufacturersList">
            <label class="col-md-2 control-label" for="EdProductManufacturer">Производитель</label>
            <div class="col-md-10">
                <select class="form-control edited" id="EdProductManufacturer">
                    @Html.Action("ManufacturersList", "Products")
                </select>
                <div class="form-control-focus">
                </div>
            </div>
        </div>
        <!--Цена и зиображение товара-->
        <div class="form-group form-md-line-input">
            <label class="col-md-2 control-label" for="EdProductPrice">Цена</label>
            <div class="col-md-5">
                <input type="number" class="form-control" id="EdProductPrice" placeholder="2500" value="@Model.Price">
                <div class="form-control-focus">
                </div>
            </div>
            <label class="control-label col-md-2" for="EdProductImage">Изображение</label>
            <div class="col-md-3">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn green fileinput-button">
                    <i class="fa fa-plus"></i>
                    <span>
                        Выбрать файл..
                    </span>
                    <input type="file" name="EdProductImage" id="EdProductImage">
                </span>
            </div>
        </div>
        <!--Описание товара-->
        <div class="form-group form-md-line-input">
            <label class="col-md-2 control-label" for="EdProductDescription">Описание</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" placeholder="Enter more text" id="EdProductDescription">@Model.Description</textarea>
                <div class="form-control-focus">
                </div>
            </div>
        </div>
        <!--Характеристики товара-->
        <div class="form-group form-md-line-input">
            <label class="col-md-2 control-label" for="EdProductCharacteristics">Характеристики</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="3" placeholder="Enter more text" id="EdProductCharacteristics">@Model.Characteristics</textarea>
                <div class="form-control-focus">
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input">
            <label class="control-label col-md-2" for="ProductTags">Теги</label>
            <div class="col-md-5">
                <input id="ProductTags" type="hidden" class="form-control select2_sample3" value="@Model.Tags">
            </div>
            <label class="control-label col-md-2" for="EdProductDateAdd">Дата добавления</label>
            <div class="col-md-3">
                @*<div class="date-picker" data-date-format="mm/dd/yyyy">*@
                <input type="date" name="ProductDateAdd" id="EdProductDateAdd" value="@Model.DateAdd" />
                @*</div>*@
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Закрыть</button>
    <button type="button" class="btn blue" id="EditProduct" data-dismiss="modal">Сохранить</button>
</div>




