@model IEnumerable<IServices.Models.ModelSlider>
@{
    Layout = null;
}
<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#slider-carousel" data-slide-to="@i" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#slider-carousel" data-slide-to="@i" class=""></li>
                            }
                        }
                    </ol>

                    <div class="carousel-inner">
                        @foreach (var slider in Model)
                        {
                            if (slider == Model.First())
                            {
                                <div class="item active">
                                    <div class="col-sm-6">
                                        <h1>@slider.Product.Name</h1>
                                        <h2>@slider.Product.Characteristics</h2>
                                        <p>@slider.Product.Description</p>
                                        <a class="btn btn-default check_out" href="@Url.Action("Details","Home",new { id = slider.Product.Id })">Подробнее</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="/Content/Images/home/@slider.Product.FileName" class="girl img-responsive" alt="">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1>@slider.Product.Name</h1>
                                        <h2>@slider.Product.Characteristics</h2>
                                        <p>@slider.Product.Description</p>
                                        <a class="btn btn-default check_out" href="@Url.Action("Details","Home",new { id = slider.Product.Id })">Подробнее</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="/Content/Images/home/@slider.Product.FileName" class="girl img-responsive" alt="">
                                    </div>
                                </div>
                            }
                        }

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
