@model IServices.Models.ModelUserInfo
@{
    Layout = null;
}

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Адрес доставки</h3>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Ваше имя<span>@Model.UserProfile.FirstName</span></li>
                        <li>Ваша фамилия<span>@Model.UserProfile.LastName</span></li>
                        <li>Телефон<span>@Model.UserProfile.Phone</span></li>
                        <li>Страна<span>@Model.UserProfile.Country</span></li>
                        <li>Город<span>@Model.UserProfile.City</span></li>
                        <li>Улица, номер дома, квартира<span>@Model.UserProfile.StreetAddress</span></li>
                    </ul>
                    <a class="btn btn-default update" href="@Url.Action("EditProfile","Account")">Редактировать адрес</a>
                </div>
            </div>
        </div>
    </div>
</section>

