@using Shop.Models;
@model Product

@{
    ViewBag.Title = "Информация о товаре";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.selectedCategory</h2>

<hr />

<h3>@Model.Name</h3>

<hr />

<div class="row">
    <div class="col-xs-6 col-md-3">
        <img class="img-thumbnail" alt="250x250" src="@ProductData.pathToImage@Model.Image" style="width: 250px; height: 250px;">
        <h3 >@Model.Price руб.</h3>
        <div>
            @Html.ActionLink("В корзину", "", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Заказать сейчас", "", new { id = Model.Id }, new { @class = "btn btn-danger" })
        </div>
        <hr />
        @foreach (string tag in ProductData.collectionsTags)
        {
            <a class="btn btn-default btn-sm" id="Tags" href="@Url.Action("Tag","Home",new { Tag = tag })">@tag</a>
        }
        
    </div>
    <div class="col-xs-12 col-md-9">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Описание товара</a></li>
            <li><a href="#profile" data-toggle="tab">Характеристики</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="productTabs">
            <div class="tab-pane active" id="home">
                <p>@Model.Description</p>
            </div>
            <div class="tab-pane" id="profile">
                <p>@Model.Characteristics</p>
            </div>
        </div>
    </div>
</div>
