@*@using Shop.Models;
@model Product


@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование товара</h2>
<hr />

<form method="post" class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" value="@Model.Id" name="Id" />
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Название</label>
        <input type="text" class="form-control" name="Name" id="Name" placeholder="Производитель и модель" required value="@Model.Name" />
    </div>
    <div class="form-group">
        <label for="Description" class="col-sm-2 control-label">Описание</label>
        <textarea class="form-control" rows="6" name="Description" id="Description" required>@Model.Description</textarea>
    </div>
    <div class="form-group">
        <label for="Characteristics" class="col-sm-2 control-label">Характеристики</label>
        <textarea class="form-control" rows="6" name="Characteristics" id="Characteristics" required>@Model.Characteristics</textarea>
    </div>
    <div class="form-group">
        <label for="Tags" class="col-sm-2 control-label">Теги</label>
        <textarea class="form-control" rows="2" name="Tags" id="Tags" placeholder="Ключевые слова" required>@Model.Tags</textarea>
    </div>
    <div class="form-group">
        <label for="selectedCategory" class="col-sm-2 control-label">Категория</label>
        <select class="form-control" name="selectedCategory" id="selectedCategory">
            @foreach (var item in ProductData.Category)
            {
                <optgroup label="@item.Name">
                    @foreach (var i in item.Childrens)
                    {
                        <option>@i.Name</option>
                    }
                </optgroup>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="Price" class="col-sm-2 control-label">Цена</label>
        <input type="number" class="form-control" name="Price" id="Price" placeholder="В рублях" required value="@Model.Price" />
    </div>
    <div class="form-group">
        <label for="DateAdd" class="col-sm-2 control-label">Дата добавления</label>
        <input type="date" class="form-control" name="DateAdd" id="DateAdd" value="@Model.DateAdd" required />
    </div>
    <div class="form-group">
        <label for="Image" class="col-sm-2 control-label">Загрузить фото</label>
        <input type="file" class="form-control" name="Image" id="Image" accept="image/jpeg,image/png" required />
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
/// <summary>
    /// Список категорий
    ///
</summary>
        //public static List<Category>
    Category = new List<Category>
        ()
        //{
        //    new Category
        //    {
        //        Id = 1,
        //        Name = "Телефоны",
        //        Childrens = new List<Category>
            ()
            //        {
            //            new Category
            //            {
            //                Name = "Смартфоны"
            //            },
            //            new Category
            //            {
            //                Name = "Радио телефоны"
            //            }
            //        }
            //    },
            //    new Category
            //    {
            //        Id = 2,
            //        Name = "Ноутбуки"
            //    },
            //    new Category
            //    {
            //        Id = 3,
            //        Name = "Планшеты"
            //    },
            //    new Category
            //    {
            //        Id = 4,
            //        Name = "Аксессуары",
            //        Childrens = new List<Category>
                ()
                //        {
                //            new Category
                //            {
                //                Name = "Аккумуляторы"
                //            },
                //            new Category
                //            {
                //                Name = "Память"
                //            },
                //            new Category
                //            {
                //                Name = "Аудио"
                //            }
                //        }
                //    }
                //};*@
