@model IEnumerable<IServices.Models.ModelProductPreview>
@{
    ViewBag.Title = "Магазин";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Action("slider", "Home")

<section>
    <div class="container">
        
        <div class="row">
            @*@Html.Partial("leftSidebar")*@

            <div class="padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Новинки</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="/Content/Images/home/@item.Image" alt="">
                                        <h2>@item.Price р.</h2>
                                        <p>@item.Name</p>
                                        <a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                    </div>
                                    <a href="@Url.Action("Details","Home",new { id = item.Id })">
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>@item.Price р.</h2>
                                                <p>@item.Name</p>
                                                <a class="btn btn-default add-to-cart" id="AddToCart_@item.Id"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div><!--features_items-->

                
                <!--/category-tab-->
                
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="AddToCart" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Изменения в корзине</h4>
            </div>
            <div class="modal-body">
                Товар успешно добавлен в Вашу корзину!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Понял</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts{

}