@model IEnumerable<IServices.Models.ModelProductPreview>
@{
    ViewBag.Title = "Магазин";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("slider")

<section>
    <div class="container">
        
        <div class="row">
            @*@Html.Partial("leftSidebar")*@

            <div class="padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Новинки</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="/Content/Images/home/@item.Image" alt="">
                                        <h2>@item.Price р.</h2>
                                        <p>@item.Name</p>
                                        <a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                    </div>
                                    <a href="@Url.Action("Details","Home",new { id = item.Id })">
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>@item.Price р.</h2>
                                                <p>@item.Name</p>
                                                <a class="btn btn-default add-to-cart" id="AddToCart_@item.Id"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div><!--features_items-->

                
                <!--/category-tab-->
                
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('a.add-to-cart').click(function () {
                var productId = $(this).attr("id").substr(10);

                var formData = new FormData();

                formData.append("productId", productId);
                formData.append("Quantity", 1);

                $.ajax({
                    type: "POST",
                    url: '/Cart/AddToCart',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (xhr) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });
    </script>
}