@using Shop.Models;
@using Shop.Helpers;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12 col-md-4">
        <h2>Список товаров</h2>
    </div>
    <div class="col-xs-6 col-md-8">

        <!-- Сортировка -->
        <div class="btn-group sortButton">

            <a class="btn btn-default" href="@Url.Action("index","Home")">По умолчанию</a>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Меню с переключением</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@Url.Action("index","Home",new { sort = TypeSort.NameAsc })">По названию, от А до Я</a></li>
                <li><a href="@Url.Action("index","Home",new { sort = TypeSort.NameDesc })">По названию, от Я до А</a></li>
                <li><a href="@Url.Action("index","Home",new { sort = TypeSort.PriceAsc })">По цене, сначала недорогие</a></li>
                <li><a href="@Url.Action("index","Home",new { sort = TypeSort.PriceDesc })">По цене, сначала дорогие</a></li>
            </ul>
        </div>
        <p class="sortButton">Сортировка: </p>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item active"></a>
            <a href="#" class="list-group-item"> </a>
            <a href="#" class="list-group-item"> </a>
            <a href="#" class="list-group-item"> </a>
            <a href="#" class="list-group-item"> </a>
            <a href="#" class="list-group-item"> </a>
            <a href="#" class="list-group-item"> </a>
            <a href="#" class="list-group-item"> </a>
            <a href="#" class="list-group-item"> </a>
            <a href="#" class="list-group-item"> </a>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-9">

        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-4">
                <div class="item">
                    <p>
                        <img src="@ProductData.pathToImage@item.Image" alt="хех" class="img-thumbnail" style="width: 200px; height: 200px;">
                    </p>
                    <h5>
                        @item.Name
                    </h5>
                    <p>
                        @item.Price руб.
                    </p>
                    <p>
                        <a class="btn btn-default" href="@Url.Action("Details","Home",new { id = item.Id })">Подробнее »</a>
                    </p>
                </div>
            </div>
        }
        
        <div id="pagination">
            <hr />
            <ul class="pagination">
                @Html.PagingNav(ProductData.Instance.PageNum, ProductData.Instance.ItemsCount, ProductData.Instance.PageSize, Request.QueryString["sort"])
            </ul>
        </div>
    </div>
    
</div>
