@model IEnumerable<IServices.Models.ModelProductPreview>
@{
    ViewBag.Title = "Магазин";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@Html.Partial("slider")

<section>
    <div class="container">
        
        <div class="row">
            @*@Html.Partial("leftSidebar")*@

            <div class="padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Новинки</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="/Content/Images/home/@item.Image" alt="">
                                        <h2>@item.Price р.</h2>
                                        <p>@item.Name</p>
                                        <a href="" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                    </div>
                                    <a href="@Url.Action("Details","Home",new { id = item.Id })">
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>@item.Price р.</h2>
                                                <p>@item.Name</p>
                                                @using (Html.BeginForm("AddToCart", "Cart"))
                                                {
                                                    <input id="@item.Id" name="productId" type="hidden" value="@item.Id"/>
                                                    <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</button>
                                                }
                                                @*<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>*@
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div><!--features_items-->

                
                <!--/category-tab-->
                
                <!--/recommended_items-->

            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        
    </script>
}