@using Shop.Models;
@model IEnumerable<Product>

@{
    ViewBag.Title = "Управление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Управление товарами</h2>
<hr />

<div class="row">
    <p><a class="btn btn-default" href="/Home/AddProduct">Добавить товар</a></p>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>#</th>
                <th>Название</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Дата добавления</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="productRow">
                    <td><a class="btn btn-link" href="@Url.Action("Edit","Home",new { id = item.Id })">Редактировать</a></td>
                    <td><a class="btn btn-link" href="@Url.Action("Details","Home",new { id = item.Id })">Просмотр</a></td>
                    <td><a class="btn btn-link" href="@Url.Action("DeleteProduct","Home",new { id = item.Id })" data-toggle="confirmation">Удалить</a></td>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.selectedCategory</td>
                    <td>@item.Price</td>
                    <td>@item.DateAdd</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/bootbox.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle=confirmation]').click(function () {
                var url = $(this).attr('href');
                bootbox.confirm("Вы действительно хотите удалить товар?", function (e) {
                    if (e) {
                        location.href = url;
                    }
                });
                return false;
            });
        });
    </script>    
}