@model IEnumerable<DataModel.Models.Order>
@{
    ViewBag.Title = "Мои заказы";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Главная</a></li>
                <li class="active">Заказы</li>
            </ol>
        </div>
        @if (Model == null)
        {
            <div>
                <h2>
                    Ваша корзина пуста. Помогите ей наполниться, вернитесь к покупкам!
                </h2>
                <h4 style="text-decoration:none;margin:25px 0 50px 0;"><a href="@Url.Action("Index","Home")"><i style="padding-right:10px;" class="fa fa-arrow-left"></i>Вернуться к покупкам</a></h4>
            </div>
        }
        else
        {
            <div class="table-responsive cart_info">

                @foreach (var order in Model)
                {
                    <p>Дата заказа: @order.CreateDate</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Продукт</td>
                                <td class="description"></td>
                                <td class="price">Цена</td>
                                <td class="quantity">Количество</td>
                                <td class="total">Общая цена</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in order.OrderProduct)
                            {
                                <tr>
                                    <td class="cart_product">
                                        <a href="@Url.Action("Details","Home",new { id = item.Product.Id })"><img src="~/Content/Images/home/@item.Product.Image" alt="" width="110" height="110"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="@Url.Action("Details","Home",new { id = item.Product.Id })">@item.Product.Name</a></h4>
                                        <p>Product ID: @item.Product.Id</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Product.Price р.</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <button class="btn btn-link QuantityDown" id="QuantityDown_@item.Product.Id"> <i class="fa fa-minus"></i> </button>
                                            <input class="cart_quantity_input Quantity" type="text" id="Quantity_@item.Product.Id" name="Quantity" value="@item.Quantity" autocomplete="off" size="2">
                                            <button class="btn btn-link QuantityUp" id="QuantityUp_@item.Product.Id"> <i class="fa fa-plus"></i> </button>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@((item.Quantity * item.Product.Price).ToString("# р.") )</p>
                                    </td>
                                    <td class="cart_delete">
                                        <button class="cart_quantity_delete btn btn-link" id="RemoveFromCart_@item.Product.Id" type="button">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>

                                </tr>
                            }

                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-right">
                                    <h4>Итого к оплате:</h4>
                                </td>
                                <td class="text-right">
                                    <h4>@order.TotalPrice.ToString("# руб")</h4>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                }

            </div>
        }
    </div>
</section>
<!--/#cart_items-->


@*<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Что дальше?</h3>
            <p>Укажите имеется ли у вас купон на скидку или баллы, чтобы оценить стоимость доставки.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Использовать купон</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Использовать подарочный сертификат</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Ускоренная доставка</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Страна:</label>
                            <select>
                                <option>United States</option>
                                <option>India</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Регион / Область:</label>
                            <select>
                                <option>Select</option>
                                <option>London</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Почтовый индекс:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Проверить</a>
                    <a class="btn btn-default check_out" href="">Продолжить</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Общая стоимость <span>$59</span></li>
                        <li>Налог <span>$2</span></li>
                        <li>Стоимость доставки <span>Бесплатно</span></li>
                        <li>Итого к оплате<span>$61</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Обновить</a>
                    <a class="btn btn-default check_out" href="">Перейти к оплате</a>
                </div>
            </div>
        </div>
    </div>
</section>*@

@section scripts{
<script>
    $(document).ready(function () {

        function EditQuantity(productId, Quantity) {

            var formData = new FormData();

            formData.append("productId", productId);
            formData.append("Quantity", Quantity);

            $.ajax({
                type: "POST",
                url: '/Order/EditQuantity',
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    console.log(result);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }

        $('input.Quantity').change(function () {
            //alert($(this).val());
            var productId = $(this).attr("id").substr(9);
            var Quantity = $(this).val();
            EditQuantity(productId, Quantity);
            
        });

        $('button.QuantityDown').click(function () {
            var ItemId = $(this).attr("id").substr(13);
            var ItemQuantity = $('input#Quantity_' + ItemId);
            var ItemQuantityValue = ItemQuantity.val();
            if (ItemQuantityValue > 1) {
                var NewQuantity = parseInt(ItemQuantityValue) - 1;
                ItemQuantity.val(NewQuantity);
                EditQuantity(ItemId, NewQuantity);
            }
            
        });

        $('button.QuantityUp').click(function () {
            var ItemId = $(this).attr("id").substr(11);
            var ItemQuantity = $('input#Quantity_' + ItemId);
            var ItemQuantityValue = ItemQuantity.val();
            if (ItemQuantityValue < 30) {
                var NewQuantity = parseInt(ItemQuantityValue) + 1;
                ItemQuantity.val(NewQuantity);
                EditQuantity(ItemId, NewQuantity);
            }

        });

        $('button.cart_quantity_delete').click(function () {
            var productId = $(this).attr("id").substr(15);

            var formData = new FormData();

            formData.append("productId", productId);

            $.ajax({
                type: "POST",
                url: '/Order/RemoveFromCart',
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    console.log(result);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script> 
}

