@using Shop.Infrastructura.Extensions
@model IEnumerable<IServices.Models.ModelOrder>
@{
    ViewBag.Title = "Мои заказы";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Главная</a></li>
                <li class="active">Заказы</li>
            </ol>
        </div>
        @if (Model == null || Model.Count() < 1)
        {
            <div>
                <h2>
                    Вы еще ничего не заказали. Добавляйте товары в корзину и оформляйте заказы!
                </h2>
                <h4 style="text-decoration:none;margin:25px 0 50px 0;"><a href="@Url.Action("Index","Home")"><i style="padding-right:10px;" class="fa fa-arrow-left"></i>Вернуться к покупкам</a></h4>
            </div>
        }
        else
        {
            foreach (var order in Model)
                {
                <div class="table-responsive cart_info">

                    <p style="margin:15px;">Дата заказа: @order.CreateDate</p>
                    <p style="margin:0 15px 15px 15px;">Номер заказа: @order.Id</p>
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="description" colspan="2">Продукт</td>
                                <td class="quantity">Количество</td>
                                <td class="price text-center">Цена</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in order.OrderProduct)
                            {
                                <tr>
                                    <td class="cart_product">
                                        <a href="@Url.Action("Details","Home",new { id = item.Product.Id })"><img src="~/Content/Images/home/@item.Product.FileName" alt="" width="110" height="110"></a>
                                    </td>
                                    <td class="cart_description" style="padding-left:25px;">
                                        <h4><a href="@Url.Action("Details","Home",new { id = item.Product.Id })">@item.Product.Name</a></h4>
                                        <p>Product ID: @item.Product.Id</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <p>x @item.Quantity</p>
                                    </td>
                                    <td class="cart_price text-center">
                                        <p>@item.Product.Price р.</p>
                                    </td>
                                </tr>
                            }

                        </tbody>
                       
                        <tfoot style="border-top: 1px solid #F7F7F0;">
                            <tr>
                                <td class="text-right" colspan="3">
                                    <p class="cart_total_price">Cтоимость заказа: @(order.TotalPrice.ToString("# р.") )</p>
                                </td>
                                <td class="text-center">
                                    <h4>Статус: @order.StatusOrderId.EnumOrderDescription()</h4>
                                    @if (@order.StatusOrderId == IServices.Models.ModelEnumStatusOrder.ShippedOut)
                                    {
                                        using (Html.BeginForm("ConfirmReceipt", "Order"))
                                        {
                                            <button id="ConfirmReceipt" value="@order.Id" name="OrderId" class="btn btn-default update" style="margin:0;">Подтвердить получение</button>
                                        }
                                    }
                                    @if (@order.StatusOrderId == IServices.Models.ModelEnumStatusOrder.Confirmed)
                                    {
                                        using (Html.BeginForm("CancelOrder", "Order"))
                                        {
                                            <button id="CancelTheOrder" value="@order.Id" name="OrderId" class="btn btn-default update" style="margin:0;">Отменить заказ</button>
                                        }
                                    }
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                
            }
            
        }
    </div>
</section>


@*<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Что дальше?</h3>
            <p>Укажите имеется ли у вас купон на скидку или баллы, чтобы оценить стоимость доставки.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Использовать купон</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Использовать подарочный сертификат</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Ускоренная доставка</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Страна:</label>
                            <select>
                                <option>United States</option>
                                <option>India</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Регион / Область:</label>
                            <select>
                                <option>Select</option>
                                <option>London</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Почтовый индекс:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Проверить</a>
                    <a class="btn btn-default check_out" href="">Продолжить</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Общая стоимость <span>$59</span></li>
                        <li>Налог <span>$2</span></li>
                        <li>Стоимость доставки <span>Бесплатно</span></li>
                        <li>Итого к оплате<span>$61</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Обновить</a>
                    <a class="btn btn-default check_out" href="">Перейти к оплате</a>
                </div>
            </div>
        </div>
    </div>
</section>*@



