@using Shop.Infrastructura.Extensions
@model IEnumerable<IServices.Models.ModelOrder>
@{
    Layout = null;
}



<div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-basket">&nbsp;</i>Управление заказами
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="javascript:;" id="reloadOrders" class="reload" data-toggle="@Url.Action("AjaxOrders", "Users", new { area = "Admin" })" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="dataTables_wrapper no-footer">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="dataTables_length" id="sample_1_length">
                            <label>
                                Показать
                                <select name="sample_1_length" aria-controls="sample_1" class="form-control input-xsmall input-inline">
                                    <option value="5">5</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="-1">Все</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div id="sample_1_filter" class="dataTables_filter">
                            <label>
                                Поиск:
                                <input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="sample_1">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover" id="ProductList">
                        <thead>
                            <tr>
                                <th>
                                    Номер заказа
                                </th>
                                <th>
                                    Имя пользователя
                                </th>
                                <th>
                                    Эл.адрес пользователя
                                </th>
                                <th>
                                    Дата заказа
                                </th>
                                <th>
                                    Статус
                                </th>
                                <th>
                                    Дата подтверждения
                                </th>
                                <th>
                                    Удалить
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model)
                            {
                                <tr class="gradeX odd" role="row">
                                    <td>
                                        
                                        @order.Id
                                    </td>
                                    <td>

                                        @order.User.UserName

                                    </td>
                                    <td>

                                        @order.User.Email

                                    </td>
                                    <td>
                                        @order.CreateDate
                                    </td>
                                    <td>
                                        <button class="btn btn-link glyphicon glyphicon-edit " data-toggle="modal" data-target="#EditOrderStatusModal" style="padding:0;" value="@order.Id"></button>
                                        @order.StatusOrderId.EnumOrderDescription()

                                    </td>
                                    <td>
                                        @order.CreateDate
                                    </td>
                                    <td>
                                        <button class="btn btn-link glyphicon glyphicon-trash DeleteUserId" data-toggle="confirmation" style="padding:0;" value="@order.Id"></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>

<div id="EditOrderStatusModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Изменить статус заказа</h4>
            </div>
            <div class="modal-body" id="EditOrderStatusModalBody">
                @Html.Action("AjaxOrderStatuses", "Users", new { area = "Admin" })
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootbox.min.js"></script>


