
@model IEnumerable<IServices.Models.ModelFeedback>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-envelope">&nbsp;</i>Управление сообщениями
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" id="reloadMessages" class="reload" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="dataTables_wrapper no-footer" id="upMessages">
                    <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="dataTables_length" id="sample_1_length">
                                    <label>
                                        Показать
                                        <select name="sample_1_length" aria-controls="sample_1" class="form-control input-xsmall input-inline">
                                            <option value="5">5</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="-1">Всех</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div id="sample_1_filter" class="dataTables_filter">
                                    <label>
                                        Поиск:
                                        <input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="sample_1">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="table-scrollable">

                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>
                                            Имя отправителя
                                        </th>
                                        <th>
                                            Эл. адрес
                                        </th>
                                        <th>
                                            Дата отправки
                                        </th>
                                        <th>
                                            Тема
                                        </th>
                                        <th>
                                            Сообщение
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var message in Model)
                                    {
                                        <tr class="gradeX odd" role="row">
                                            <td>
                                                @message.Name
                                            </td>
                                            <td>
                                                @message.Email
                                            </td>
                                            <td>
                                                @message.CreateDate
                                            </td>
                                            <td>
                                                @message.Subject
                                            </td>
                                            <td>
                                                @message.Message
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
